<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat App Test</title>
    <script src="https://cdn.socket.io/4.4.0/socket.io.min.js" integrity="sha384-1fOn6VtTq3PWwfsOrk45LnYcGosJwzMHv+Xh/Jx5303FVOXzEnw0EpLv30mtjmlj" crossorigin="anonymous"></script>
    
</head>

<body>
    <div>
       
            
            <h1>Chat App</h1>
        
        <div class="message__area"></div>
        <div>
            <textarea id="textarea"  placeholder="Write your  message here..."></textarea>
        </div>
    </div>
    
    <script src="/client.js"></script>
</body>

</html>